<p>
  <%= comment.commenter %>&nbsp;:&nbsp;
  <%= comment.body %><br>
  <%= link_to 'Destroy Comment', [comment.post, comment],
  				class: 'btn btn-default',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
</p>