<div class="jumbotron">
  <div class="container">
    <h1>Good Morrow!</h1>
    <p> What say you to joining fuzzle?</p>
    <p><a class="btn btn-primary btn-lg" href="/users">Hazah!</a></p>   
  </div>
</div>

