<h1>New Post</h1>

<ul class="nav nav-tabs">
  <li class="active"><a href="#text" data-toggle="tab">Text</a></li>
  <li><a href="#image" data-toggle="tab">Image</a></li>
  <li><a href="#video" data-toggle="tab">Video</a></li>
  <li><a href="#audio" data-toggle="tab">Audio</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="text"><%= render 'form' %>
</div>
  <div class="tab-pane fade" id="image"><%= render 'form_image' %>
</div>
  <div class="tab-pane fade" id="video"><%= render 'form_video' %></div>
  <div class="tab-pane fade" id="audio">...</div>
</div>

<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>


<%= link_to 'Back', posts_path, class: 'btn btn-default' %>